.logo-container {
  width: 75%;
  margin: auto;
}
.logo-div {
  padding: 30px;
  margin: 30px 0;
}

.logo-img {
  width: 95%;
  border-radius: 9px;
  cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  body {
    width: auto;
  }
  .logo-container {
    width: 100%;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 426px) {
  body {
    width: auto;
  }
  .logo-container{
    display: none;
  }
}
